<div id="shopify-section-16577649883722f237" class="shopify-section nt_section type_banner2 type_packery" style="
    background-color: #dd4355;
"><div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="
    padding: 50px 0px 50px 15px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
">
    <span style=""><a href="#" style="
    color: #fff;
">HONEY LAND</a></span>
</div>
</div>    
<div class="row">
    
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <img src="https://cdn.shopify.com/s/files/1/0596/1724/7407/files/wholesale_900x.png?v=1657704794" style="width:100%;/* padding-top: 20px; */">
    <h1 style="
    text-align: left;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 37px;
">A beginner's guide!</h1>
    <p style="
    text-align: left;
    color: #fff;
    font-size: 17px;
    padding-top: 31px;
    /* line-height: 33px; */
">
        If you already have e-commerce business or you want to build new one, this solution is for you.
Just plugiin your store and start to get order, we will care about the rest.
    </p>
</div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
<div style="height: 80px;width:100%;background-color:#f45b86;font-size: 30px;font-weight: 600;line-height: 80px;color: #fff;"><span style="
    /* margin-top: 20px; */
    padding-left: 20px;
">SUPPORT</span></div>
<div style="
    background-color: #ffff;
">

 <table style="width:100%;margin-top:0px;/* border: 0px !important; */" border="0">
     <tbody><tr style="
    cellpadding: 0;
">
         <td style="width:45%;"><img src="https://cdn.shopify.com/s/files/1/0596/1724/7407/files/wholesale_900x.png?v=1657704794"></td>
         <td style="
    color: #dd4355;
    vertical-align: top;
">
    <h3 style="
    color: #dd4355;
    font-weight: 500;
">Title</h3><p style="
    font-size: 15px;
">a bullet vibrator is exactly<br>fsdfadfasdfa</p><p style="
    height: 1px;
    background-color: #dd4355;
    vertical-align: bottom;
    margin-top: 20px;
"></p>
</td>
     </tr><tr>
         <td style="width:45%;"><img src="https://cdn.shopify.com/s/files/1/0596/1724/7407/files/wholesale_900x.png?v=1657704794"></td>
         <td style="
    color: #dd4355;
    vertical-align: top;
">
    <h3 style="
    color: #dd4355;
    font-weight: 500;
">Title</h3><p style="
    font-size: 15px;
">a bullet vibrator is exactly<br>fsdfadfasdfa</p><p style="
    height: 1px;
    background-color: #dd4355;
    vertical-align: bottom;
    margin-top: 20px;
"></p>
</td>
     </tr><tr>
         <td style="width:45%;"><img src="https://cdn.shopify.com/s/files/1/0596/1724/7407/files/wholesale_900x.png?v=1657704794"></td>
         <td style="
    color: #dd4355;
    vertical-align: top;
">
    <h3 style="
    color: #dd4355;
    font-weight: 500;
">Title</h3><p style="
    font-size: 15px;
">a bullet vibrator is exactly<br>fsdfadfasdfa</p><p style="
    height: 1px;
    background-color: #dd4355;
    vertical-align: bottom;
    margin-top: 20px;
"></p>
</td>
     </tr><tr>
         <td style="width:45%;"><img src="https://cdn.shopify.com/s/files/1/0596/1724/7407/files/wholesale_900x.png?v=1657704794"></td>
         <td style="
    color: #dd4355;
    vertical-align: top;
">
    <h3 style="
    color: #dd4355;
    font-weight: 500;
">Title</h3><p style="
    font-size: 15px;
">a bullet vibrator is exactly<br>fsdfadfasdfa</p><p style="
    height: 1px;
    background-color: #dd4355;
    vertical-align: bottom;
    margin-top: 20px;
"></p>
</td>
     </tr>
 </tbody></table>   
</div>
    
</div>
    
</div>
</div>
</div>